<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Invitation Email </title>
    <style>
      .btn{ background-color: green; padding:5px; border-radius: 5px; border:1px solid green;
      color:white; }

    </style>
  </head>
  <body>
    <div class="container">

      <div>
        <p>
          Hi there,
        </p>
        <p>
          You have been invited to join our Organization as an owner by their finance manager. Click
          the button below to accept the invitation and view all transactions of your organization.
        </p>
        <a href={{link}}>
          <button class="btn">Accept Invitation </button>
        </a>
        Link:
        <a href={{link}}>
          {{link}}
        </a>
      </div>

    </div>
  </body>
</html>